body {
  font-family: 'Arimo', sans-serif;
  background-size: 100%;
  padding-bottom: 100px;
}


@media (max-width: 768px) {
  align-content: flex-start;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

/*******footer*********/
footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #a37351;
  color: white;
  text-align: center;
  padding: 20px 20px 20px 20px;
}

footer p {
  display: inline;

}

footer p a {
  text-decoration: none;
  color: white;
}

footer p a:hover {
  color: #ffe5eb;
}
