body {
  font-family: 'Arimo', sans-serif;
  background-size: 100%;
  padding-bottom: 100px;
}

.pic1{
  grid-area: header;
}

.pic2{
  grid-area: menu;
}

.pic3{
  grid-area: main;
}

.pic4{
  grid-area: left;
}

.pic5{
  grid-area: right;
}

.pic6{
  grid-area: footer;
}



@media (max-width: 768px) {
  align-content: flex-start;
}


.column {
  grid-template-areas:
  'header'
  'menu main'
  'left right footer';
  /*padding: 5px;*/
}

/*******footer*********/
footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #a37351;
  color: white;
  text-align: center;
  padding: 20px 20px 20px 20px;
}

footer p {
  display: inline;

}

footer p a {
  text-decoration: none;
  color: white;
}

footer p a:hover {
  color: #ffe5eb;
}
