body{
  background-color: #FDD5C3;
}

h2{
  padding-top:20px;
  padding-left: 20px;
}

a{
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  color: #588B8B;
  font-size: 40pt;
}

.middle{
  text-align: center;
}

canvas{
  width:50%;
  height:50%;
}
