body{
  background-color: #FDD5C3;
}

a{
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  color: #588B8B;
}

.middle{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

canvas{
  width:50%;
  height:50%;
}
