body{
  background-color: #588B8B;

}

h1{
  margin-left: -50px;
  margin-top: -10px;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 50%;
  font-family: 'Lobster', cursive;
  font-size: 40pt;
  text-align: center;
  color: #FDD5C3;
}

nav ul li{
  display: inline;
  background-color: white;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
  color: #588B8B;
  text-align: center;
}

#hide input[type=file] {
display:none;
margin:10px;
}
#hide input[type=file] + label {
display:inline-block;
margin:20px;
padding: 4px 32px;
background-color: #FFFFFF;
border:solid 1px #666F77;
border-radius: 6px;
color:#666F77;
}
#hide input[type=file]:active + label {
background-image: none;
background-color:#2D6C7A;
color:#FFFFFF;
}
